/* section 1st */

.head{
    width: 1220px;
 display: flex;
justify-content: space-between;
align-items: center;
margin: 0 auto;
}
.navi{
  display: flex;
 
}
.navi li{
    margin-left: 45px;
    
}
.navi a{ 
    color: #37393F;
}
.btn{
    background-color: #6B77E5;
    color: white;
    padding: 15px 3px;
    font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 18px;   
}
/* section 2nd */
.main{
    width: 283px;
    margin: 0 auto;
    text-align: center;
    margin-top: 157.5px;
}
.paragraph1{
   font-size: 18px; 
   color: #37393F;
   font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.paratwo{
    font-size: 40px;
    color: #37393F;
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 16px;
  margin-bottom: 41px;
}
.container{
    width: 1220px;
    display: flex;
    /* margin: 0 auto; */
   justify-content: space-between;
}
.box{
    width: 386px;
    height: 383px;
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;


}
.section-element{
    display: flex;
     flex-direction: column;
     align-items: center;
}
.icon-1{
    background-color: #40DDB6;
    width: 72px;
    height: 72px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.icon-2{
     background-color:#6B77E5;
    width: 72px;
    height: 72px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.icon-3{
     background-color: #40DDB6;
    width: 72px;
    height: 72px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-icons{
    display: flex;

}
.main-text{
    font-size: 25px;
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.center-text{
    font-size: 18px;
    color: #7D7D7D;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin-top: 16px;
  margin-bottom: 37px;
}
.last-text{
    font-size: 18px;
    color: #6B77E5;
   font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin-bottom: 10px;
}

/* section 3rd */
.main-container{
    width: 1920px;
    height: 557px;
    background-image: url("../images/Mask\ group.png");
    background-color: aqua;
   display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     margin-top: 60px;
     margin-bottom: 130px;
}

.child-container{
    width: 511px;
    height: 270.5px;
   
}
.video{
    font-size: 18px;
    color: #37393F;
     font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.title{
    font-size: 40px;
    color: #37393F;
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 16px;
  margin-bottom: 21px;
}
.explain{
    font-size: 18px;
    color: #37393F;
     font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin-bottom: 47px;
}

.icon-4{
      background-color:#6B77E5;
    width: 72px;
    height: 72px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;       
}
/* section title */
.title-container{
    width: 348px;
    margin: 0 auto;
    text-align: center;
    margin-top: 157.5px;
    margin-top: 130px;
    margin-bottom: 31px;
}
.title-paragraph{
   font-size: 18px; 
   color: #37393F;
   font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.title-paratwo{
    font-size: 40px;
    color: #37393F;
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 16px;
  margin-bottom: 41px;
}
/* section title */

/* section 4th */

.last-container{
    width: 1220px;
    height: 532px;
    display: flex;
   justify-content: space-between;
   margin-top: 257px;
   margin-bottom: 131px;
}
.last-box{
    width: 386px;
    height: 383px;
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.last-section-element{
    display: flex;
     flex-direction: column;
     align-items: center;
}
.last-main-text{
    font-size: 25px;
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.last-center-text{
    font-size: 18px;
    color: #7D7D7D;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin-top: 16px;
  margin-bottom: 37px;
}
/* position sticky */

.head{
    display: flex;
    justify-content: space-between;
}
.navi{
    display: flex;

}
.header-element{
    padding: 53px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 200;
}
